.errorBox {
  padding: 16px 8px;
  margin-top: 16px;
  font-size: 0.9rem;
  line-height: 135%;
  color: red;
  background: #fdd8d8;
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
  transform: translateY(0px);
  transition: transform 250ms ease-in-out;
  animation: hideErrorBox 5s ease-in-out forwards;
  z-index: 10000;
}

@keyframes hideErrorBox {
  0% {
    transform: translateY(100px);
  }
  10% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(100px);
  }
}
